@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-image: url("https://cdn.pixabay.com/photo/2024/03/13/19/06/ai-generated-8631634_1280.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: "Pathway Extreme", Arial, Helvetica, sans-serif;
    color: #000;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container {
    width: auto;
    max-width: 65%;
    padding: 1.25rem 2rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(0.25rem);
}

.quote-text {
    font-size: 1.5rem;
}

.long-quote {
    font-size: 1rem;
}

.fa-quote-left {
    font-size: 2.5rem;
}

#author {
    margin-top: 1rem;
    font-size: 0.9rem;
    font-weight: 400;
    font-style: italic;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}

.btn-container button {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 0.3rem;
    border: none;
    outline: none;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: transform 0.25s ease-in-out;
    box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.25);
    font-family: inherit;
}

.btn-container button:first-child {
    width: 5rem;
    font-size: 1rem;
}

.btn-container button:last-child {
    width: 10rem;
}

.btn-container button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.btn-container button:active {
    transform: scale(0.95);
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid rgba(0, 0, 0, 0.85);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1000px) {
    .quote-container {
        margin-inline: 10%;
        max-width: 80%;
    }

    .quote-text {
        font-size: 1rem;
    }

    #author {
        font-size: 0.75rem;
    }

    .btn-container {
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
    }

    .btn-container button:first-child {
        margin-top: 0.5rem;
    }
}
